The Russian Air War and Ukrainian Requirements for Air Defence | Royal United Services Institute
pdf
Read Full Report
(PDF 7MB)
A Russian fighter jet flies above a railway junction on fire following recent shelling in the course of Russia-Ukraine conflict in the town of Shakhtarsk (Shakhtyorsk) near Donetsk, October 2022. Courtesy of Reuters / Alamy Stock Photo
Further Western support is needed to ensure that Kyiv can counter Moscow's updated approach to the air war in Ukraine.
Executive Summary
Russian Aerospace Forces (VKS) conducted significantly more extensive fixed-wing strike operations during the first days of the invasion than has been previously documented, while Ukrainian ground-based air-defence (GBAD) capabilities were suppressed by initial attacks.
During this period, Ukrainian fighter aircraft inflicted some losses on VKS aircraft but also took serious casualties due to being totally technologically outmatched and badly outnumbered.
Russian fighters have remained highly effective and lethal against Ukrainian aircraft near the frontlines throughout the war, especially the Su-35S with the R-77-1 long-range missile and, in recent months, the Mig-31BM with the R-37 very long-range missile.
From early March, the VKS lost the ability to operate in Ukrainian-controlled airspace except at very low altitudes due to its inability to reliably suppress or destroy increasingly effective, well-dispersed and mobile Ukrainian surface-to-air missile (SAM) systems.
Russian GBAD has also been highly effective since March, especially the long-range S-400 SAM system supported by the 48Ya6 ‘Podlet-K1’ all-altitude long-range surveillance radar system.
Numerous MANPADS provided to Ukrainian troops and later mobile air-defence teams meant that low-altitude Russian fixed-wing and rotary penetrating sorties beyond the frontlines proved to be prohibitively costly during March, and ceased by April 2022.
Throughout the war, most Russian airstrikes have been against pre-designated targets with unguided bombs and rockets. The Su-34 fleet has regularly also fired stand-off missiles such as the Kh-29 and Kh-59 against fixed targets, and Su-30SM and Su-35S fighters have regularly fired Kh-31P and Kh-58 anti-radiation missiles to suppress and target Ukrainian SAM radars.
Without air superiority, Russia’s attempts at strategic air attack have been limited to expensive cruise and ballistic missile barrages at a much more limited scale. These failed to achieve strategically decisive damage during the first seven months of the invasion. However, the latest iteration is a more focused and sustainable bombardment of the Ukrainian electricity grid, blending hundreds of cheap Iranian-supplied Shahed-136 loitering munitions against substations with continued use of cruise and ballistic missiles against larger targets.
The West must avoid complacency about the need to urgently bolster Ukrainian air-defence capacity. It is purely thanks to its failure to destroy Ukraine’s mobile SAM systems that Russia remains unable to effectively employ the potentially heavy and efficient aerial firepower of its fixed-wing bomber and multi-role fighter fleets to bombard Ukrainian strategic targets and frontline positions from medium altitude, as it did in Syria.
It follows that if Ukrainian SAMs are not resupplied with ammunition, and ultimately augmented and replaced with Western equivalents over time, the VKS will regain the ability to pose a major threat.
In the short term, Ukraine also needs large numbers of additional man-portable air-defence systems (MANPADS) and radar-guided anti-aircraft guns, such as the Gepard, to sustain and increase its ability to intercept the Shahed-136s and protect its remaining power infrastructure and repairs to damaged facilities.
In the medium term, Ukraine needs cost-effective ways to defend itself against the Shahed-136. One option could be compact radar and/or laser ranging and sighting systems to allow numerous existing anti-aircraft guns to be much more accurate and effective against them.
The Ukrainian Air Force fighter force needs modern Western fighters and missiles to sustainably counter the VKS. Russian pilots have been cautious throughout the war, so even a small number of Western fighters could have a major deterrent effect.
Any Western fighter supplied in the short–medium term needs to be capable of dispersed operations using mobile maintenance equipment and small support teams, and flying from relatively rough runways, to avoid being neutralised by Russian long-range missile strikes.
keywords
Topics
Air Power
Conflict and Security
Regions and Country Groups
Ukraine
Europe
Russia and Eurasia
Russia
Research Groups
Military Sciences
WRITTEN BY
Justin Bronk
Senior Research Fellow, Airpower & Technology
Military Sciences
View profile
Nick Reynolds
Research Fellow, Land Warfare
Military Sciences
View profile
Dr Jack Watling
Senior Research Fellow for Applied Military Sciences
Military Sciences
View profile
A Russian fighter jet flies above a railway junction on fire following recent shelling in the course of Russia-Ukraine conflict in the town of Shakhtarsk (Shakhtyorsk) near Donetsk, October 2022. Courtesy of Reuters / Alamy Stock Photo
WRITTEN BY
Justin Bronk
Senior Research Fellow, Airpower & Technology
Military Sciences
View profile
Nick Reynolds
Research Fellow, Land Warfare
Military Sciences
View profile
Dr Jack Watling
Senior Research Fellow for Applied Military Sciences
Military Sciences
View profile
Media Enquiries
Jim McLean
Media Relations Manager
+44 (0)7917 373 069
JimMc@rusi.org
Reading options
pdf
Read Full Report
(PDF 7MB)
print
Print this page
Share this page
facebook
twitter
linkedin
email
bluesky
Media Enquiries
Jim McLean
Media Relations Manager
+44 (0)7917 373 069
JimMc@rusi.org
Reading options
pdf
Read Full Report
(PDF 7MB)
print
Print this page
Footnotes
Explore our related content
Stay up to date with RUSI
Receive updates on publications and events from RUSI straight into your inbox.
Sign up